{% extends 'app_info/base.html' %}

{% block title %}
    {{ belt.name }}
{% endblock %}

{% block content %}
    <h2>{{ belt.name }} Belt Profiles:</h2>
    <ul class="inline">
{#        {% if perms.courseinfo.change_course %}#}
        <li>
          <a
              href="{{ belt.get_update_url }}"
              class="button button-primary">
            Edit Belt</a></li>
{#        {% endif %}#}
{#        {% if perms.courseinfo.delete_course %}#}
        <li>
          <a
{#              href="{{ course.get_delete_url }}"#}
              class="button button-primary">
            Delete Course</a></li>
{#        {% endif %}#}
    </ul>
    <section>
        <table>
            <tr>
                <td>
                    <ul>
                        {% for profile in profiles %}
                        <li>
                            <a href="{{ profile.get_absolute_url }}">{{ profile.first_name }} {{ profile.last_name }}</a>
                        </li>
                        {% empty %}
                        <li><em>There are no profiles for this belt</em></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </section>
{% endblock %}
