{% extends 'app_info/base.html' %}

{% block title %}
    Post - {{ post.title }}
{% endblock %}

{% block content %}
    <section class="page-content">
    <h2>{{ post.title }}</h2>
    <h3>{{ post.subtitle }}</h3>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ post.profile.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ post.profile.last_name }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ post.created_at }}</td>
            </tr>
            <tr>
                <th>Last Updated:</th>
                <td>{{ post.updated_at }}</td>
            </tr>
            <tr>
                <th>Likes:</th>
                <td>{{ post.likes }}</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{ post.categories }}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td>
                    <ul>
                        {% for tag in tags %}
                        <li>
                            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                        </li>
                        {% empty %}
                        <li><em>There are no tags for this post</em></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </section>

    <section>
        <img src="{{ post.image.url }}" class="img-responsive" style="width: 200px; height: 100px;" />
    </section>
    <section>
        <div>{{ post.text }}</div>
    </section>
    <section>
        <h3>COMMENTS</h3>
            <ul>
            {% for comment in comments %}
            <li>
                <a href="">{{ comment.text }} by: {{ comment.profile.username }}</a>
            </li>
            {% empty %}
            <li><em>There are no comments for this post</em></li>
            {% endfor %}
        </ul>
    </section>
    {% if user.is_authenticated %}
    {% include 'app_info/comment_form.html' %}

    {% endif %}
    </section>
{% endblock %}
