{% extends 'app_info/base.html' %}

{% block title %}
    Profile - {{ profile.displayName }}
{% endblock %}

{% block content %}
    <h2>{{ profile.displayName }}</h2>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ profile.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ profile.last_name }}</td>
            </tr>
            <tr>
                <th>Join Date:</th>
                <td>{{ profile.join_date }}</td>
            </tr>
            <tr>
                <th>Belt Color:</th>
                <td>{{ profile.belt_color }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Profile</h3>
        <h4>Profile Picture</h4>
        <img src="{{ profile.profile_picture.url }}" class="img-responsive" style="width: 10%; float: left; margin-right: 10px;" />
        <h4>Banner Picture</h4>
        <img src="{{ profile.banner_picture.url }}" class="img-responsive" style="width: 10%; float: left; margin-right: 10px;" />
        <ul>
        {% for post in posts %}
            <li>
                <a href="">{{ post }}</a>
            </li>
        {% empty %}
            <li><em>This user has no posts.</em></li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}
