{% extends 'app_info/base.html' %}

{% block title %}
    Delete Tag
{% endblock %}

{% block content %}
    <form
        action="{{ tag.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            tag {{ tag }}?
        </p>
        <a href="{{ tag.get_absolute_url }}"
           class="button button-primary">
        Cancel</a>
        <button type="submit" class="button button-primary">Delete Tag</button>
    </form>
{% endblock %}
