{% extends 'app_info/base.html' %}

{% block title %}
    {{ tag.name }}
{% endblock %}

{% block content %}
    <h2>{{ tag.name }} Posts:</h2>
{#    {% if perms.app_info.change_course %}#}
        <li>
          <a
              href="{{ tag.get_update_url }}"
              class="button button-primary">
            Edit Tag</a></li>
{#        {% endif %}#}
{#        {% if perms.courseinfo.delete_course %}#}
        <li>
          <a
              href="{{ tag.get_delete_url }}"
              class="button button-primary">
            Delete Tag</a></li>
{#    {% endif %}#}
    <section>
        <table>
            <tr>
                <td>
                    <ul>
                        {% for post in posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% empty %}
                        <li><em>There are no posts for this tag</em></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </section>
{% endblock %}
