{% extends 'app_info/base.html' %}

{% block title %}
    Delete Technique
{% endblock %}

{% block content %}
    <form
        action="{{ technique.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            technique {{ technique }}?
        </p>
        <a href="{{ technique.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Technique</button>
    </form>
{% endblock %}
