{% extends 'app_info/base.html' %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
    <h2>{{ name }}</h2>
    <ul class="inline">
{#        {% if perms.courseinfo.change_course %}#}
        <li>
          <a
              href="{{ technique.get_update_url }}"
              class="button button-primary">
            Edit Technique</a></li>
{#        {% endif %}#}
{#        {% if perms.courseinfo.delete_course %}#}
        <li>
          <a
              href="{{ technique.get_delete_url }}"
              class="button button-primary">
            Delete Technique</a></li>
{#        {% endif %}#}
    </ul>
    <section>
        <div>{{ tag }}</div>
        <div>Description: {{ description }}</div>
        <iframe width="560" height="315" src="{{ link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </section>
{% endblock %}
