{% extends 'app_info/base.html' %}

{% block title %}
    Techniques
{% endblock %}

{% block content %}
<h2>Technique List</h2>
{% block create_button %}
{#    {% if perms.courseinfo.add_instructor %}#}
    <a
            href="{% url 'app_info_technique_create_urlpattern' %}"
            class="button button-primary">
        Create New Technique</a>
{#    {% endif %}#}
{% endblock %}
<ul>
    {% for technique in technique_list %}
    <li>
        <a href="{{ technique.get_absolute_url }}">{{ technique }}</a>
    </li>
    {% empty %}
    <li><em>There are currently no techniques available</em></li>
    {% endfor %}
</ul>
{% endblock %}
